*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
}
#game{
	position: relative;
	margin-top: 60px;
	margin-left:380px;
}
.box{
	position: absolute;
	background: #ccc;
	border:1px solid white;
}
.food{
	position: absolute;
	background: blue;
	border:1px solid white;
}
.snake{
	position: absolute;
	background: red;
	border:1px solid white;
}