<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form  action="#" method="post">
            <label for="oUser">Username</label>
            <br>
            <input  type="text" name="text" >
            <br>
            <label for="oPassword">Password</label>
            <br>
            <input  type="password" name="password" >
            <button type="submit">
                Register
            </button>
        </form>
</body>
</html>